<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">

  
  <meta name="viewport" content="width=device-width, initial-scale=1">


  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>

<nav class="navbar navbar-expand-sm navbar-color navbar-dark">
  <!-- Brand/logo -->
  
  <img src="/assets/sinaloa.png">
  <h3 style="color:rgb(255, 255, 255)">Puro Sinaloa</h3>
  <p></p>
  <!-- Links -->
  <div class="container">
    <ul class="nav nav-pills">
    
      <li><a href="/datos-alumno"> I. Datos del alumno  </a></li>
      <li><a href="/domicilio-alumno"> &nbsp;&nbsp;&nbsp; II. Domicilio del alumno </a></li>
      <li><a href="/datos-familiares"> &nbsp;&nbsp;&nbsp;III. Datos familiares (padre)</a></li>
      <li><a href="/datos-madre"> &nbsp;&nbsp;&nbsp;III. Datos familiares (Madre)</a></li>
      <li><a href="/datos-hermano"> &nbsp;&nbsp;&nbsp;III. Datos familiares (Hermanos)</a></li>
      <li><a href="/datos-academicos"> &nbsp;&nbsp;&nbsp;IV. Información academica</a></li>
   
    </ul>
  </div>
</nav>
 <router-outlet></router-outlet>
<!-- Footer -->


    
  
  
  <!-- Footer -->
  
</body>
</html>